name: Build and Release

on:
  push:
    branches:
      - master

  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libncurses-dev

      - name: Build binary
        run: make

      - name: Publish latest release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: latest
          draft: false
          prerelease: false
          files: snake
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
